$font-family: 'Open Sans', sans-serif;
$gris_oscuro: #333333;
$gris_claro: #f9f9f9;
$colorAbout: #649ae0;
$colorFaq: #b3cfc1;
$color404: #ed6e5b;
$colorPortfolioOne: #f7c65f;
$colorPortfolioTwo: #a992e2;
$colorFPortfolioOne: #76d3c9;
$colorFPortfolioTwo: #80a697;
$colorSingleProyect: #dcd48c;
$colorBlog: #dc6e6d;
$colorSinglePost: #c57acc;
$colorContact: #a4cb9e;